{% extends "registro_empleado/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Genero</td>
            <td>Fecha de Nacimiento</td>
            <td>Correo Electronico</td>
            <td><a href="{% url 'empleado_insertar' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i> Agregar Nuevo</a></td>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleado_lista %}
            <tr>
                <td>{{empleado.nombres}}</td>
                <td>{{empleado.apellidos}}</td>
                <td>{{empleado.genero}}</td>
                <td>{{empleado.fecha_nacimiento}}</td>
                <td>{{empleado.email}}</td>
                <td><a href="{% url 'empleado_actualizar' empleado.id %}" class="btn text-secondary px-0"><i class="far fa-edit fa-lg"></i></a>
                    <form action="{% url 'empleado_borrar' empleado.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}